[submodule "deps/jasmine"]
	path = deps/jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "deps/game-shim"]
	path = deps/game-shim
	url = https://github.com/toji/game-shim.git
[submodule "deps/gl-matrix"]
	path = deps/gl-matrix
	url = https://github.com/toji/gl-matrix.git
[submodule "deps/jshint"]
	path = deps/jshint
	url = https://github.com/jshint/jshint.git
[submodule "deps/measviz"]
	path = deps/measviz
	url = https://github.com/kpreid/measviz.git
