[submodule "deps/jasmine"]
	path = deps/jasmine
	url = git://github.com/pivotal/jasmine.git
[submodule "deps/game-shim"]
	path = deps/game-shim
	url = git://github.com/toji/game-shim.git
[submodule "deps/gl-matrix"]
	path = deps/gl-matrix
	url = git://github.com/toji/gl-matrix.git
[submodule "deps/jshint"]
	path = deps/jshint
	url = git://github.com/jshint/jshint.git
