/* ensure that our viewport canvas fills the window */
html, body, .viewport { margin: 0; border: 0; width: 100%; height: 100%; }

html {
  background: gray; /* ordinarily invisible, but makes initial loading better */
}

.viewport {
  display: block; /* avoid invoking CSS line layout. */
  cursor: crosshair;
}

@media screen {
  .overlay-bounds {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  color: white;
  text-shadow: 0 0 .3em #000;
  margin: 0 0;
  display: table;
}
.overlay p, .overlay pre {
  margin: 0;
}

#scene-info-overlay {
  position: absolute;
  left: 1px;
  top: 1px;
}

#save-button {
  text-shadow: 0 0 .5em #F00;
  font-weight: bold;
}

#menu-container { /* exists to support centering */
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  display: table;
  width: 100%;
}
#menu {
  pointer-events: auto;
  margin: 2px auto;
  background: gray;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: table;
  text-align: center;
}
.menu-item {
  display: inline-block;
  position: relative;
  margin: 1px 1px;
}
.menu-shortcut-key {
  position: absolute;
  bottom: -1px;
  left: 1px;
  color: white;
  background: none;
}
#menu .selectedTool {
  border-radius: 5px;
  margin: -1px -1px; /* outlines don't have radius */
  border: 2px solid white;
  background: gray;
  visibility: visible; /* show current tool even when menu is hidden */
}

#error-notices {
  position: absolute;
  top: 5em;
  right: 50%;
  margin-right: -17em;

  z-index: 1;
}
.error-notice {
  border-radius: 2em;
  text-align: center;
  max-width: 30em;
  padding: 1em 2em;
  border: .2em solid red;
  
  background: white;
  color: black;
  font-family: 'Lucida Grande', sans-serif;
}

#toggles {
  position: absolute;
  top: 6px;
  right: 6px;
  text-align: right;
}
.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16em;
  max-height: 100%;
  overflow: auto;
  color: white;
  background: black;
  background: rgba(80,80,80,0.7);
  margin: 0;
  padding: 0;
}
.sidebar > * {
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.sidebar h2 {
  font-size: 1.2em;
  margin: .66em 0;
  padding: 0 .66em;
  background: gray;
  background: rgba(255,255,255,0.3);
}
.sidebar table {
  font-size: 0.92em;
  border-collapse: collapse;
}
.sidebar table.fancy > tbody > tr > th {
  background: gray;
  background: rgba(255,255,255,0.1);
}

.sidebar table.fancy, .sidebar table.fancy > tbody > tr {
  border-color gray;
  border-color rgba(255,255,255,0.1);
  border-style: solid;
}
.sidebar table.fancy {
  border-width: 1px 0;
}
.sidebar table.fancy > tbody > tr {
  border-width: 1px 0 0 0;
}
.sidebar table.fancy > tbody > tr.spanned {
  border-width: 0 0 0 0;
}

.optionline input[type="range"] {
  vertical-align: middle;
}
.optionline input[type="number"] {
  text-align: right;
}

.sidebar .error {
  background: #C00;
  border: 1px solid #F00;
  color: white;
  font-weight: bold;
  margin: 0.2em 0;
}

/* --- widgets --- */

.progress-bar {
  height: .5em;
  margin: .25em;
  background: #CCC;
  background: rgba(255,255,255,0.2);
}
.progress-bar-fill {
  height: 100%;
  background: white;
}
.overlay .progress-bar {
  /* arbitrary fixed length for this use case */
  width: 20em;
}
