html, body {
  background: gray; /* ordinarily invisible, but makes initial loading better */
}

.viewport {
  cursor: crosshair;
}

.overlay-bounds {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 .3em #000;
  margin: 0 0;
  display: table;
  pointer-events: none;
}
.overlay p, .overlay pre {
  margin: 0;
}
.overlay .object-chip {
  pointer-events: auto;
}

#scene-info-overlay {
  position: absolute;
  left: 1px;
  top: 1px;
}

#save-button {
  text-shadow: 0 0 .5em #F00;
  font-weight: bold;
}

/* --- main UI layout --- */

/* ensure that our content fills the window and has no layout-quirk scrollbars */
html, body {
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  xoverflow: hidden;
}

body {
  overflow: hidden; /* suppress extra margin in moz flexbox */
  display: -moz-box;
  display: -webkit-box;
  display: box;
     -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
          box-orient: horizontal;
}

.overlay-bounds {
  display: -moz-box;
     -moz-box-flex: 1;
  -webkit-box-flex: 1;
          box-flex: 1;
}
.viewport {
  -moz-box-flex: 1;
  display: block;
  width: 100%;
  height: 100%;
}

/* --- block menu --- */

#menu-container { /* exists to support centering */
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  display: table;
  width: 100%;
}
#menu {
  pointer-events: auto;
  margin: 2px auto;
  background: #333;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  display: table;
  text-align: center;
  font-family: monospace;
}
.menu-item {
  display: inline-block;
  position: relative;
  margin: 1px 1px;
}
.menu-item td {
  margin: 0;
  padding: 0;
}
.menu-item canvas {
  vertical-align: middle; /* remove baseline gap */
}
.menu-shortcut-key {
  position: absolute;
  bottom: -1px;
  left: 1px;
}
#menu .selectedTool {
  border-radius: 5px;
  margin: -1px -1px; /* outlines don't have radius */
  border: 2px solid white;
  background: gray;
}

.ui-mode-hidden #menu { visibility: hidden; }
.ui-mode-hidden #quick-bar .menu-item { visibility: visible; }
.ui-mode-hidden #quick-bar { opacity: 0.75; }

.ui-mode-menu #menu #menu {
  visibility: visible;
} 
.menu-expand-button {
  display: block;
  margin: -0.75em 5% 0 80%;
  width: 15%;
  border: none;
  border-radius: 1em;
  padding: 0.25em 0;
  text-align: center;
  background: black;
  color: white;
}
.menu-expand-button:before, .menu-expand-button:after {
  content: " ︽ ";
  font-weight: bold;
}

/* ---  --- */

#error-notices {
  position: absolute;
  top: 5em;
  right: 50%;
  margin-right: -17em;

  z-index: 1;
}
.error-notice {
  border-radius: 2em;
  text-align: center;
  max-width: 30em;
  padding: 1em 2em;
  border: .2em solid red;
  
  background: white;
  color: black;
  font: message-box;
}

#toggles {
  position: absolute;
  top: 6px;
  right: 6px;
  text-align: right;
}

/* --- sidebars (panels) --- */

.sidebar-container {
  position: relative;
  color: white;
  background: #555;
  padding-left: 1.5em;
  
  box-sizing: border-box;
  width: 20em;
  margin-right: -20em; /* hidden state */
}

/* visibility and animation */
.sidebar-container.sidebar-hidden {
  -webkit-animation: sidebar-pop .05s linear reverse;
  -moz-animation: sidebar-pop .05s linear reverse;
}
.sidebar-container.sidebar-visible {
  margin-right: 0;
  -webkit-animation: sidebar-pop .05s linear;
  -moz-webkit-animation: sidebar-pop .05s linear;
}
@-webkit-keyframes sidebar-pop {
  from { margin-right: -20em; }
  to   { margin-right: 0;     }
}
@-moz-keyframes sidebar-pop {
  from { margin-right: -20em; }
  to   { margin-right: 0;     }
}

.sidebar-close-button {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 1em;
  width: 1.5em;
  height: 100%;
  
  border: none;
  
  color: inherit;
  background: #666;
  /* gradient compat generated by http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(left, #777 1%, #606060 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%,#777), color-stop(100%,#606060)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #777 1%,#606060 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #777 1%,#606060 100%); /* Opera 11.10+ */
  background: linear-gradient(to right, #777 1%,#606060 100%); /* W3C */
}
.sidebar-close-button:hover {
  background: #777;
  /* gradient compat generated by http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(left, #888 1%, #666 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%,#888), color-stop(100%,#666)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #888 1%,#666 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #888 1%,#666 100%); /* Opera 11.10+ */
  background: linear-gradient(to right, #888 1%,#666 100%); /* W3C */
}

.sidebar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar > * {
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.sidebar h2 {
  font-size: 1.2em;
  margin: .66em 0;
  padding: 0 .66em;
  background: gray;
  background: rgba(255,255,255,0.3);
}
.sidebar h3 {
  font-size: 1.15em;
  margin: .69em 0;
  padding: 0 .69em;
  border-bottom: 1px solid gray;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.sidebar table {
  font-size: 0.92em;
  border-collapse: collapse;
}
.sidebar table.fancy > * > tr > th {
  background: gray;
  background: rgba(255,255,255,0.1);
}

.sidebar table.fancy, .sidebar table.fancy > tbody > tr {
  border-color: gray;
  border-color: rgba(255,255,255,0.1);
  border-style: solid;
}
.sidebar table.fancy {
  border-width: 1px 0;
}
.sidebar table.fancy > tbody > tr {
  border-width: 1px 0 0 0;
}
.sidebar table.fancy > tbody > tr.spanned {
  border-width: 0 0 0 0;
}
.sidebar table > tbody > .selected {
  background: gray;
  background: rgba(255,255,255,0.1);
}

#objects table {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
#objects td {
  padding: 0.05em 0.3em;
}
#objects tr > :first-child + * + * /* size column */ {
  text-align: right;
}

.optionline input[type="range"] {
  vertical-align: middle;
}
.optionline input[type="number"] {
  text-align: right;
}

.sidebar .error {
  background: #C00;
  border: 1px solid #F00;
  color: white;
  font-weight: bold;
  margin: 0.2em 0;
}

/* --- widgets --- */

.progress-bar {
  height: .5em;
  margin: .25em;
  background: #CCC;
  background: rgba(255,255,255,0.2);
}
.progress-bar-fill {
  height: 100%;
  background: white;
}
.overlay .progress-bar {
  /* arbitrary fixed length for this use case */
  width: 20em;
}

/* --- control bindings UI --- */

.control-chip {
  display: inline-block;
  margin: .1em;
  padding: .1em;
  min-width: 1.1em;
  height: 1.1em;

  background: #EEE;
  color: black;
  border: .15em outset #EEE;
  border-radius: .2em;
  
  text-align: center;
  vertical-align: middle;
  
  font: icon;
  font-size: 1em;
}

.control-chip.control-chip-placeholder { opacity: 0.5; }
.control-chip.control-chip-placeholder:hover, 
.control-chip.control-chip-placeholder:focus { opacity: 1.0; }

.control-chip.control-chip-conflict { border-color: red; }

.control-chip:focus, .control-chip.control-chip-conflict:focus {
  border-color: #77F;
  outline: none;
}

.control-unbind-button {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-radius: 0.6em;
  
  border: 1px outset;
  
  background: red;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: inherit;
}

/* --- object-UI widgets --- */

.object-chip {
  /* structure */
  display: inline-block;
  vertical-align: middle;
  
  /* geometry */
  margin: 1px 0;
  border-width: .1em;
  border-radius: .2em;
  padding: 0 0 0 .2em;
  
  /* style */
  border-style: outset;
  border-color #888;
  background: #777;
  color: #FFF;
  font: icon;
  white-space: nowrap;
}
.object-chip.object-chip-named { background: #686; }
.object-chip.object-chip-ephemeral { background: #866; }
.object-chip.object-chip-live { background: #494; }

.object-chip button {
  /* geometry */
  margin: 0;
  padding: .2em .4em;
  border: none;
  border-radius: .2em;
  
  /* style */
  background: none;
  color: inherit;
  font-weight: bold;
  font-family: inherit;
}

.object-chip button:hover {
  background: white;
  color: black;
}

/* context menu */
.command-menu {
  border: 1px solid white;
  background: gray;
  color: white;
  font: menu;
}
.command-menu ul {
  display: table;
  margin: 0;
  padding: 0;
}
.command-menu li {
  display: table-row;
  margin: 0;
  padding: 0;
  border: none;
}
.command-menu button {
  display: block;
  
  /* geometry */
  width: 100%;
  margin: 0;
  padding: .4em;
  border: none;
  
  /* style */
  background: none;
  color: inherit;
  font-weight: bold;
  font-family: inherit;
  border-radius: 0;
  text-align: inherit;
  white-space: nowrap;
}

/* --- performance measurement widgets --- */

.measuring-item {
  display: table;
  font-family: "Geneva", "Verdana", sans-serif;
  font-size: 9px;
  color: white;
  white-space: nowrap; /* work around spurious wrap in ~ Chrome 22.0.1207.1 dev */

  pointer-events: none;

  /* root-only styles */
  background: black;
  background: rgba(80,80,80,0.5);
  padding: 3px;
}
.measuring-item .measuring-item {
  /* non-roots */
  padding: 0;
  background: none; 
}
.measuring-label, .measuring-group-header {
  display: inline-block;
  min-width: 16ex;
  text-align: left;
}
.measuring-value {
  display: inline-block;
  min-width: 13ex;
  text-align: right;
}
.measuring-group-header {
  background: none;
  color: #CCC;
  font-weight: bold;
}
ul.measuring-group-contents, ol.measuring-group-contents {
  margin: 0 0 0 0;
  padding: 0 0 0 1em;
  list-style-type: none;
}
.measuring-sparkline {
  vertical-align: baseline;
}
.measuring-hide-sparklines .measuring-sparkline {
  display: none;
}
.measuring-toggle {
  /* reset <button> style */
  margin: 0;
  border: none;
  padding: 0;
  color: inherit;
  background: none;
  font: inherit;
  
  /* specific style */
  font-weight: bold;
  
  pointer-events: auto;
}