/* ensure that our viewport canvas fills the window */
html, body, .viewport { margin: 0; border: 0; width: 100%; height: 100%; }

html {
  background: gray; /* ordinarily invisible, but makes initial loading better */
}

.viewport {
  display: block; /* avoid invoking CSS line layout. */
  cursor: crosshair;
}

@media screen {
  .overlay-bounds {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 .3em #000;
  margin: 0 0;
  display: table;
}
.overlay p, .overlay pre {
  margin: 0;
}

#scene-info-overlay {
  position: absolute;
  left: 1px;
  top: 1px;
}

#save-button {
  text-shadow: 0 0 .5em #F00;
  font-weight: bold;
}

/* --- block menu --- */

#menu-container { /* exists to support centering */
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  display: table;
  width: 100%;
}
.ui-mode-full #menu-container {
  display: block;
  height: 100%;
}
#menu {
  pointer-events: auto;
  margin: 2px auto;
  background: #333;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  display: table;
  text-align: center;
  font-family: monospace;
}
.menu-item {
  display: inline-block;
  position: relative;
  margin: 1px 1px;
}
.menu-item td {
  margin: 0;
  padding: 0;
}
.menu-item canvas {
  vertical-align: middle; /* remove baseline gap */
}
.ui-mode-full .menu-item {
  display: table-row;
}
.ui-mode-full .menu-item > * {
  display: table-cell;
}
.ui-mode-hidden .menu-shortcut-key, .ui-mode-menu .menu-shortcut-key {
  position: absolute;
  bottom: -1px;
  left: 1px;
}
.block-details {
  display: none;
}
.ui-mode-full .block-details {
  display: table-cell;
  vertical-align: middle;
}
.ui-mode-hidden #menu .selectedTool, .ui-mode-menu #menu .selectedTool {
  border-radius: 5px;
  margin: -1px -1px; /* outlines don't have radius */
  border: 2px solid white;
  background: gray;
}
#quick-bar .selectedTool {
  visibility: visible; /* show current tool even when menu is hidden */
}
.ui-mode-hidden #menu {
  visibility: hidden;
} 
.ui-mode-menu #menu, .mode-full #menu {
  visibility: visible;
} 
.ui-mode-full #menu {
  border: 2px solid black;
  background: gray;
  color: black;
  display: table;
  height: 80%;
  margin-top: 3em;
  padding: 2px;
}
.ui-mode-full .menu-full-block-list {
  display: block;
  height: 100%;
  overflow: auto;
}
.ui-mode-full .menu-full-block-list > * /* thead, tfoot, tbody */ {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
.menu-full-block-list > thead, .menu-full-block-list > tfoot {
  width: 100%;
}
.ui-mode-menu .menu-full-block-list > thead, .ui-mode-menu .menu-full-block-list > tfoot {
  display: none;
}
.menu-full-block-list th {
  font: inherit;
  font-weight: bold;
}
.ui-mode-full #quick-bar {
  display: none;
}
.menu-expand-button {
  display: block;
  margin: -0.75em 5% 0 80%;
  width: 15%;
  border: none;
  border-radius: 1em;
  padding: 0.25em 0;
  text-align: center;
  background: black;
  color: white;
}
.menu-expand-button:before, .menu-expand-button:after {
  content: " ︽ ";
  font-weight: bold;
}
.ui-mode-full .menu-expand-button {
  display: none;
}

/* column sizes :| */
.ui-mode-full .menu-full-block-list > * > tr > *:first-child { width: 30px; }
.ui-mode-full .menu-full-block-list > * > tr > *:first-child + * { width: 70px; }
.ui-mode-full .menu-full-block-list > * > tr > *:first-child + * + * { width: 200px; }
.ui-mode-full .menu-full-block-list > * > tr > *:first-child + * + * + * { width: 100px; }
.ui-mode-full .menu-full-block-list > * > tr > *:first-child + * + * + * + * { width: 50px; }
.ui-mode-full .menu-full-block-list > * > tr > *:first-child + * + * + * + * + * { width: 50px; }

#menu input[type="text"] {
  width: 190px;
  border: 1px solid #BBB;
  background: none;
  color: inherit;
  font: inherit;
  margin: 1px;
  padding: 2px;
}

#menu input[type="range"] {
  width: 40px;
}


/* ---  --- */

#error-notices {
  position: absolute;
  top: 5em;
  right: 50%;
  margin-right: -17em;

  z-index: 1;
}
.error-notice {
  border-radius: 2em;
  text-align: center;
  max-width: 30em;
  padding: 1em 2em;
  border: .2em solid red;
  
  background: white;
  color: black;
  font-family: 'Lucida Grande', sans-serif;
}

#toggles {
  position: absolute;
  top: 6px;
  right: 6px;
  text-align: right;
}
.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16em;
  max-height: 100%;
  overflow: auto;
  color: white;
  background: black;
  background: rgba(80,80,80,0.7);
  margin: 0;
  padding: 0;
}
.sidebar > * {
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.sidebar h2 {
  font-size: 1.2em;
  margin: .66em 0;
  padding: 0 .66em;
  background: gray;
  background: rgba(255,255,255,0.3);
}
.sidebar table {
  font-size: 0.92em;
  border-collapse: collapse;
}
.sidebar table.fancy > tbody > tr > th {
  background: gray;
  background: rgba(255,255,255,0.1);
}

.sidebar table.fancy, .sidebar table.fancy > tbody > tr {
  border-color: gray;
  border-color: rgba(255,255,255,0.1);
  border-style: solid;
}
.sidebar table.fancy {
  border-width: 1px 0;
}
.sidebar table.fancy > tbody > tr {
  border-width: 1px 0 0 0;
}
.sidebar table.fancy > tbody > tr.spanned {
  border-width: 0 0 0 0;
}
.sidebar table > tbody > .selected {
  background: gray;
  background: rgba(255,255,255,0.1);
}

#objects {
  width: 20em; /* wider than default sidebar */
}
#objects table {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
#objects td {
  padding: 0.05em 0.3em;
}
#objects tr > :first-child + * + * /* size column */ {
  text-align: right;
}

.optionline input[type="range"] {
  vertical-align: middle;
}
.optionline input[type="number"] {
  text-align: right;
}

.sidebar .error {
  background: #C00;
  border: 1px solid #F00;
  color: white;
  font-weight: bold;
  margin: 0.2em 0;
}

/* --- widgets --- */

.progress-bar {
  height: .5em;
  margin: .25em;
  background: #CCC;
  background: rgba(255,255,255,0.2);
}
.progress-bar-fill {
  height: 100%;
  background: white;
}
.overlay .progress-bar {
  /* arbitrary fixed length for this use case */
  width: 20em;
}

/* --- object-UI widgets --- */

.object-chip {
  /* structure */
  display: inline-block;
  vertical-align: middle;
  
  /* geometry */
  margin: 1px 0;
  border-width: .1em;
  border-radius: .2em;
  padding: 0 0 0 .2em;
  
  /* style */
  border-style: outset;
  border-color #888;
  background: #777;
  color: #FFF;
}
.object-chip.object-chip-named { background: #686; }
.object-chip.object-chip-ephemeral { background: #866; }
.object-chip.object-chip-live { background: #494; }

.object-chip button {
  /* geometry */
  margin: 0;
  padding: .2em .4em;
  border: none;
  border-radius: .2em;
  
  /* style */
  background: none;
  color: inherit;
  font-weight: bold;
  font-family: inherit;
}

.object-chip button:hover {
  background: white;
  color: black;
}

/* context menu */
.command-menu {
  border: 1px solid white;
  background: gray;
  color: white;
}
.command-menu ul {
  display: table;
  margin: 0;
  padding: 0;
}
.command-menu li {
  display: table-row;
  margin: 0;
  padding: 0;
  border: none;
}
.command-menu button {
  display: block;
  width: 100%;
  margin: 0;
  padding: .4em;
}

/* --- performance measurement widgets --- */

.measuring-item {
  display: table;
  font-family: "Geneva", "Verdana", sans-serif;
  font-size: 9px;
  color: white;

  /* root-only styles */
  background: black;
  background: rgba(80,80,80,0.5);
  padding: 3px;
}
.measuring-item .measuring-item {
  /* non-roots */
  padding: 0;
  background: none; 
}
.measuring-label, .measuring-group-header {
  display: inline-block;
  min-width: 16ex;
  text-align: left;
}
.measuring-value {
  display: inline-block;
  min-width: 13ex;
  text-align: right;
}
.measuring-group-header {
  background: none;
  color: #CCC;
  font-weight: bold;
}
ul.measuring-group-contents, ol.measuring-group-contents {
  margin: 0 0 0 0;
  padding: 0 0 0 1em;
  list-style-type: none;
}
.measuring-sparkline {
  vertical-align: baseline;
}
.measuring-hide-sparklines .measuring-sparkline {
  display: none;
}